[Desktop Entry]
Type=Application
Name=Al-Quran
Comment=a simple open-source ad-free Quran app
Exec=al_quran
Icon=al_quran.png
Categories=Education;Religion;
