[Desktop Entry]
Type=Application
Name=Al-Quran
Comment=A simple open-source Quran reader
Exec=env LD_LIBRARY_PATH=/usr/bin/lib al_quran
Icon=io.github.meypod.al-quran
Categories=Education;X-Religion;
