name: build & upload windows artifacts

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to upload artifacts to (leave empty for latest)"
        required: false
        default: ""

jobs:
  build_x64:
    runs-on: windows-latest
    permissions:
      contents: write
    if: |
      github.event_name == 'workflow_dispatch' || 
      (startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '.') && !contains(github.ref, '-')) ||
      (startsWith(github.ref, 'refs/tags/v') && endsWith(github.ref, '-android'))
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: "true"

      - name: Get tag
        id: get_tag
        shell: bash
        run: |
          TAG="${{ github.event.inputs.tag }}"
          if [ -z "$TAG" ]; then
            git fetch --tags
            TAG=$(git tag --sort=-creatordate | head -n 1)
          fi
          echo "tag=$TAG" >> $GITHUB_OUTPUT
          CLEAN_VERSION="${TAG#v}"
          if [ -z "$CLEAN_VERSION" ]; then
            exit 1
          fi
          echo "clean_version=$CLEAN_VERSION" >> $GITHUB_OUTPUT

      - name: Install Latest VC Redistributable
        shell: pwsh
        run: |
          curl -o VC_redist.x64.exe -L https://aka.ms/vs/17/release/vc_redist.x64.exe
          Start-Process VC_redist.x64.exe -ArgumentList "/install /quiet /norestart" -Wait

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Disable analytics
        run: dart --disable-analytics

      - name: Install Dependencies
        run: flutter pub get

      - name: Build windows app
        run: flutter build windows --release --no-pub --suppress-analytics

      - name: Copy system msvcp140.dll
        shell: bash
        run: cp C:/Windows/System32/msvcp140.dll build/windows/x64/runner/Release

      - name: Build Windows .exe installer
        shell: bash
        run: |
          echo "C:/Program Files (x86)/Inno Setup 6" >> $GITHUB_PATH
          iscc al_quran.iss

      - name: Zip Portable
        run: |
          Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath build/AlQuran-${{ steps.get_tag.outputs.clean_version }}-windows-x64-portable.zip

      # - name: Create msix for store
      #   run: dart run msix:create --store --release --architecture x64 --output-name AlQuran_for_microsoft_store --output-path ./

      - name: Release on GitHub
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.get_tag.outputs.tag }}
          omitBody: true
          omitBodyDuringUpdate: true
          omitName: true
          allowUpdates: true
          replacesArtifacts: true
          updateOnlyUnreleased: false
          # artifacts: AlQuran_for_microsoft_store.msix,build/AlQuran*.zip
          artifacts: build/AlQuran*.zip,build/AlQuran-Windows-Installer.exe
