name: build & upload ios artifacts

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: "true"

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build IPA (iOS)
        run: flutter build ipa --no-codesign

      - name: Compress Archives and IPAs
        run: |
          cd build
          tar -czf ios_build.tar.gz ios

      - name: Release on GitHub
        uses: ncipollo/release-action@v1
        with:
          prerelease: true
          omitBody: true
          omitBodyDuringUpdate: true
          omitName: true
          allowUpdates: true
          replacesArtifacts: true
          updateOnlyUnreleased: true
          artifacts: build/ios_build.tar.gz
