name: build & upload windows artifacts

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to upload artifacts to (leave empty for latest)'
        required: false
        default: ''

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    if: |
      github.event_name == 'workflow_dispatch' || 
      (startsWith(github.ref, 'refs/tags/v') && contains(github.ref, '.') && !contains(github.ref, '-')) ||
      (startsWith(github.ref, 'refs/tags/v') && endsWith(github.ref, '-android'))
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: "true"

      - name: Get tag
        id: get_tag
        shell: bash
        run: |
          TAG="${{ github.event.inputs.tag }}"
          if [ -z "$TAG" ]; then
            git fetch --tags
            TAG=$(git tag --sort=-creatordate | head -n 1)
          fi
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build windows app
        run: flutter build windows --release --no-pub --suppress-analytics
      
      - name: Create msix for store
        run: dart run msix:create --store --release --architecture x64 --output-name al_quran_for_store --output-path ./

      - name: Release on GitHub
        uses: ncipollo/release-action@v1
        with:
          tag: ${{ steps.get_tag.outputs.tag }}
          omitBody: true
          omitBodyDuringUpdate: true
          omitName: true
          allowUpdates: true
          replacesArtifacts: true
          updateOnlyUnreleased: false
          artifacts: al_quran_for_store.msix
