name: build & upload mobile artifacts

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    container:
      image: cimg/android:2025.10.1-ndk
      options: --user root

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          submodules: "true"

      - name: Setup java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install Dependencies
        run: flutter pub get

      - name: Build Apk
        run: flutter build apk --release --no-pub --suppress-analytics

      - name: Build appBundle
        run: flutter build appbundle --release --no-pub --suppress-analytics

      # build tools version can be found inside cimg/android related tag pulled layers details inside docker hub. usually second /bin/bash after ADB_INSTALL_TIMEOUT is set (near the end)
      - name: Sign Android Apk & Bundle files
        if: ${{ github.event_name == 'release'}}
        run: |
          echo $ANDROID_HOME
          export BUILD_TOOLS_DIR="$ANDROID_HOME/build-tools/35.0.1"
          "$BUILD_TOOLS_DIR/zipalign -c -v 4 build/app/outputs/flutter-apk/*.apk"
          printf '%s' "$ANDROID_SIGNING_KEY" | base64 -d > keystore.jks
          "$BUILD_TOOLS_DIR/apksigner sign --ks keystore.jks --ks-key-alias $ANDROID_KEY_ALIAS --ks-pass pass:$ANDROID_KEY_STORE_PASSWORD --key-pass pass:$ANDROID_KEY_PASSWORD build/app/outputs/flutter-apk/*.apk"
          "%JAVA_HOME%"\bin\jarsigner.exe -keystore keystore.jks -storepass $ANDROID_KEY_STORE_PASSWORD --key-pass $ANDROID_KEY_PASSWORD build/app/outputs/bundle/release/*.aab
        env:
          ANDROID_SIGNING_KEY: ${{ secrets.ANDROID_SIGNING_KEY }}
          ANDROID_KEY_ALIAS: ${{ secrets.ANDROID_ALIAS }}
          ANDROID_KEY_STORE_PASSWORD: ${{ secrets.ANDROID_KEY_STORE_PASSWORD }}
          ANDROID_KEY_PASSWORD: ${{ secrets.ANDROID_KEY_PASSWORD }}

      - name: Build IPA (iOS)
        run: flutter build ipa --no-codesign

      - name: Compress Archives and IPAs
        run: |
          cd build
          tar -czf ios_build.tar.gz ios

      - name: Release on GitHub
        uses: ncipollo/release-action@v1
        with:
          prerelease: true
          omitBody: true
          omitBodyDuringUpdate: true
          omitName: true
          allowUpdates: true
          replacesArtifacts: true
          updateOnlyUnreleased: true
          artifacts: build/app/outputs/flutter-apk/*.apk,build/app/outputs/bundle/release/*.aab,build/ios_build.tar.gz

      - name: Push to Play Store
        if: ${{ github.event_name == 'release' && !contains(github.ref, '-rc') }}
        uses: r0adkll/upload-google-play@v1
        continue-on-error: true
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: com.github.meypod.simple_quran
          releaseFiles: android/app/build/outputs/bundle/release/*.aab
          track: internal
          status: draft
        #  changesNotSentForReview: true
